<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <link rel="stylesheet" href="../css/style.css">
      <link rel="stylesheet" href="../font/font.css">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <title>Ayra</title>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    color: #323232;
    font-size: 15px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

      </style>
   <body>
   <!--header-->
   <div class="header">
       <!--upper header-->
       <div class="container-fluid"> 
         <div class="row">
           <div class="col-lg-4">
              <div class="h-logo"> <img class="" src="../image/sonu76.png"></div>
           </div>
            <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-12">
                <ul class="list-inline">
                <li><a href="#">Customer Care: 8957853947</a></li>
                  <li><a href="#"> Screen ReaderA-A+</a></li>
                  
                </ul>
              </div>
              <div class="col-lg-12"><div class="nav_icon">
                        <ul class="list-inline clear">
                           <li><a class="tw" target="_blank" href="https://twitter.com/Sonukum78966461"><i class="fa fa-twitter"></i></a></li>
                           <li><a class="li" target="_blank" href="https://www.linkedin.com/company/abilis-solutions?trk=biz-companies-cym"><i class="fa fa-linkedin"></i></a></li>
                           <li><a class="fb" target="_blank" href="https://www.facebook.com/profile.php?id=100024213244644"><i class="fa fa-facebook"></i></a></li>
                           <li><a class="large-icon yt" target="_blank" href="https://www.youtube.com/channel/UCvwqeGVY3fpQ4IHFa9MYUQA?view_as=subscriber"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                     </div></div>
              
            </div>
           </div>
            
         </div>  
       </div>

       <!--upper header-->


       <!--lower-->
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="nav-lower"> 
                <ul>
                  <li><a href="index.html"> HOME</a></li>
                  <li><a href="product.html">SERVICE</a></li>
                  <li><a href="about-us.html"> ABOUT US</a></li>
                  <li><a href="product.html">PRODUCT</a></li>
                  <li><a href="about-us.html">NEWS</a></li>
                  <li><a href="our_invester.html">OUR INVESTER</a></li>
                  <li><a href="our_invester.html">CONTACT US</a></li>
                  <li><a href="our_invester.html">CONTACT US</a></li>
                </ul>
                
              </div>
              
            </div>
            
          </div>
        </div>

       <!--lower-->
</div>
   <!--header-->


<!--About us
<div class="aboutusbaneer">
<div class="aboutback">
  <div class="container">
      <div class="row">
         <div class="col-lg-12">
          <div class="aboutusbaner-text">
            <h2>ABOUT US</h2>
          </div> 
         
         </div>

      </div>
  </div>
</div>
</div>

 <div class="container">
    <div class="row space">
            <div class="col-lg-4 ">
              <div class="aboutusimage">
                <img src="../image/BOBphoto.jpg">
              </div>
            </div>
            <div class="col-lg-8 border-right">
               <div class="aboutustext">
                   <h1>Abhishek Tripathi</h1>
                   <p>Abhishek tripathi is chairman of Ayra Imdustres. Abhishek is a graduate engineer and youngest of the directors. But his maturity, Sincerity and acumen of direct selling industry are some virtues that we, at NAVS, are really proud of.'</p>
                   <p>ho founded Reliance Industries in Bombay with the help of his trusted advisor , Harsh Makhija He appeared in The Sunday Times top 50 businessmen in Asia. Ambani took Reliance Industries public in 1977 and by 2002, the combined fortune of the family was $6 billion. Ambani died on 6 July 2002. In 2016, he was honored posthumously with the Padma Vibhushan, India's second highest civilian honor for his contributions in trade and industry.</p>
               </div>
            </div>
    </div>
  </div> 
About us-->





<!--exa-->
<div class="container">
                    <div class="row">
                        <div class="heading-title text-center">
                            <h3 class="text-uppercase">Our professionals </h3>
                            <p class="p-top-30 half-txt">Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. </p>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../image/asydf.png" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>SONU SINGH</h5>
                                <span>founder &amp; ceo ( Ayra Industres )</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../image/ARYj.png" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hello World</h4>
                                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>ARYAN SINGH</h5>
                                <span>HR Manager</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../image/asydf.png" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>I love to design</h4>
                                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>SONU SINGH</h5>
                                <span>Marketing Manager</span>
                            </div>
                        </div>

                    </div>

                </div>


<!--exa-->




<!--exa-->
<div class="container">
                    <div class="row">
                        
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../image/shiva.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>SHIVAM JHA</h5>
                                <span>founder &amp; ceo</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../image/harsh.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hello World</h4>
                                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>HARSH KUMAR</h5>
                                <span>HR Manager</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../image/piyush.png" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>I love to design</h4>
                                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>PIYUSH KUMAR</h5>
                                <span>Marketing Manager</span>
                            </div>
                        </div>

                    </div>

                </div>


<!--exa-->
















<!--footer-->
<div class="container-fluid">
<div class="container">
  <div class="row">
  <div class="footer">
     <div class="col-lg-3">
      <div class="footer-section-1">
        <h3>Link</h3>
       <ul class="footer-aws">
         <li><a href=""><i class="fas fa-angle-right"></i>HOME</a></li>
         <li><a href=""><i class="fas fa-angle-right"></i>SERVICE </a></li>
         <li><a href=""><i class="fas fa-angle-right"></i>ABOUT US</a></li>
         <li><a href=""><i class="fas fa-angle-right"></i>PRODUCT</a></li>
         <li><a href=""><i class="fas fa-angle-right"></i>NEWS</a></li>
         <li><a href=""><i class="fas fa-angle-right"></i>CONTACT US</a></li>
         <li><a href=""><i class="fas fa-angle-right"></i>HOME</a></li>
         <li><a href=""><i class="fas fa-angle-right"></i>SERVICE </a></li>
         <li><a href=""><i class="fas fa-angle-right"></i>ABOUT US</a></li>
         <li><a href=""><i class="fas fa-angle-right"></i>PRODUCT</a></li>
         <li><a href=""><i class="fas fa-angle-right"></i>PRODUCT</a></li>

       </ul>
      </div>
     </div>
     <div class="col-lg-6 footer-section-1">
       <div class="col-lg-12">
         <div class="col-lg-6">
         <div class="footer-section-1">
         <h3>Link</h3>
       <ul class="footer-aws">
         <li><a href=""><i class="fas fa-angle-right"></i>HOME</a></li>
         <li><a href=""><i class="fas fa-angle-right"></i>SERVICE </a></li>
         <li><a href=""><i class="fas fa-angle-right"></i>ABOUT US</a></li>
         <li><a href=""><i class="fas fa-angle-right"></i>PRODUCT</a></li>
         <li><a href=""><a href=""><i class="fas fa-angle-right"></i>NEWS</a></li>
         <li><a href=""><i class="fas fa-angle-right"></i>CONTACT US</a></li>
       </ul></div></div>
         <div class="col-lg-6 ">
         <div class="">
         <h3>Link</h3>
       <ul class="footer-aws">
        <li><a href=""><i class="fas fa-angle-right"></i>HOME</a></li>
         <li><a href=""><i class="fas fa-angle-right"></i>SERVICE </a></li>
         <li><a href=""><i class="fas fa-angle-right"></i>ABOUT US</a></li>
         <li><a href=""><i class="fas fa-angle-right"></i>PRODUCT</a></li>
         <li><a href=""><i class="fas fa-angle-right"></i>NEWS</a></li>
         <li><a href=""><i class="fas fa-angle-right"></i>CONTACT US</a></li>
       </ul></div></div>
       </div>
       <div class="col-lg-12"><div class="footer-social border-top">
                        <ul class="list-inline clear">
                        <li><h3 style="color: #ca5266; font-size: 30px">Ayra Industres</h3></li>

                           <li><a class="tw" target="_blank" href="https://twitter.com/AbilisSolutions"><i class="fa fa-twitter"></i></a></li>
                           <li><a class="li" target="_blank" href="https://www.linkedin.com/company/abilis-solutions?trk=biz-companies-cym"><i class="fa fa-linkedin"></i></a></li>
                           <li><a class="fb" target="_blank" href="https://www.facebook.com/Solutions-Abilis-1422492811119373/"><i class="fa fa-facebook"></i></a></li>
                           <li><a class="large-icon yt" target="_blank" href="https://www.youtube.com/channel/UCL9h02kMUOuMAw5i9V-pQOg/videos"><i class="fa fa-youtube"></i></a></li>
                            
                        </ul>
                     </div></div>
     </div>
     <div class="col-lg-3"><img class="footer-image" src="../image/piyush.png
"></div>
  </div>
</div>
</div>
</div>
<!--footer-->

<!--copy right-->
<div class="copy-right">
 <div class="container">
    <div class="copy-right-text">
      <p>Copyright © 2018, Ayra Industres. All rights reserved.</p>
      
    </div>
   
 </div>
  
</div>

<!--copy right-->





       <script type="text/javascript">
         $('.owl-carousel').owlCarousel({
             loop:true,
             margin:10,
             nav:true,
             responsive:{
                 0:{
                     items:1
                 },
                 600:{
                     items:3
                 },
                 1000:{
                     items:5
                 }
             }
         })
         
         
         
         
         
         
      </script>
   </body>
</html>