<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <link rel="stylesheet" href="../css/style.css">
      <link rel="stylesheet" href="../font/font.css">
      <!-- Latest compiled and minified JavaScript -->
      <scrip src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <title>A Mart</title>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <body>
   <!--header-->
   <div class="header">
       <!--upper header-->
       <div class="container-fluid"> 
         <div class="row">
           <div class="col-lg-4">
              <div class="h-logo"> <img class="" src="/static/image/sonu76.png"></div>
           </div>
            <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-10">
                <ul class="list-inline">
                <li><a href="#">Customer Care: 9142875785</a></li>
                  <li><a href="#"> Screen ReaderA-A+</a></li>
                  
                </ul>
              </div>
              <div class="col-lg-12"><div class="nav_icon">
                        <ul class="list-inline clear">
                           <li><a class="tw" target="_blank" href="https://twitter.com/AbilisSolutions"><i class="fa fa-twitter"></i></a></li>
                           <li><a class="li" target="_blank" href="https://www.linkedin.com/company/abilis-solutions?trk=biz-companies-cym"><i class="fa fa-linkedin"></i></a></li>
                           <li><a class="fb" target="_blank" href="https://www.facebook.com/Solutions-Abilis-1422492811119373/"><i class="fa fa-facebook"></i></a></li>
                           <li><a class="large-icon yt" target="_blank" href="https://www.youtube.com/channel/UCvwqeGVY3fpQ4IHFa9MYUQA?view_as=subscriber"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                     </div></div>
              
            </div>
           </div>
            
         </div>  
       </div>

       <!--upper header-->


       <!--lower-->
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="nav-lower"> 
                <ul>
                  <li><a href="index.html"> HOME</a></li>
                  <li><a href="product.html">SERVICE</a></li>
                  <li><a href="about-us.html"> ABOUT US</a></li>
                  <li><a href="product.html">PRODUCT</a></li>
                  <li><a href="about-us.html">NEWS</a></li>
                  <li><a href="our_invester.html">OUR INVESTER</a></li>
                  <li><a href="our_invester.html">CONTACT US</a></li>
                </ul>
                
              </div>
              
            </div>
            
          </div>
        </div>

       <!--lower-->
</div>
   <!--header-->


<div id="myCarousel" class="carousel slide" data-ride="carousel">
         <!-- Indicators -->
         <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
         </ol>
         <!-- Wrapper for slides -->
         <div class="carousel-inner">
            <div class="item active">
               <img src="/static/image/slider-1.jpg" alt="New york" style="width:100%;">
               <div class="carousel-caption">
               </div>
            </div>
            <div class="item">
               <img src="/static/image/slider-2.jpg" alt="New york" style="width:100%;">
               <div class="carousel-caption">
               </div>
            </div>
            <div class="item">
               <img src="/static/image/slider-3.jpg" alt="New york" style="width:100%;">
               <div class="carousel-caption">
               </div>
            </div>
            <div class="item">
               <img src="/static/image/slider-1.jpg" alt="New york" style="width:100%;">
               <div class="carousel-caption">
               </div>
            </div>
         </div>
         <!-- Left and right controls -->
         <a class="left carousel-control" href="#myCarousel" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left"></span>
         <span class="sr-only">Previous</span>
         </a>
         <a class="right carousel-control" href="#myCarousel" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right"></span>
         <span class="sr-only">Next</span>
         </a>
      </div>
      <!--slider-->



      <!--baner tex -->
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="denim-tex1">
                  <h2>Welcome To Denim Vistara</h2>
                  <p>Denim Vistara team welcomes you to explore the world-class Jeans designs. We are the manufacturer and wholeseller of Denim Jeans in India. Browse the latest and featured products of Denim Vistara.</p>
               </div>
            </div>
         </div>
      </div>
      <!--baner tex -->




      <!--service section -->
      <div class="denim-service">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <h2>What We Do</h2>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-4">
                  <div class="service-box">
                     <div class="img-holder">
                        <a href="jeans-manufacturing.html"><img src="/static/image/denim1.jpg" width="356" height="275" alt="Awesome Image"></a>
                     </div>
                     <div class="service-text">
                        <h3><a href="jeans-manufacturing.html">Jeans Manufacturing</a></h3>
                        <p>We are a reputed jeans manufactures in India for quality jeans manufacturing.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="service-box">
                     <div class="img-holder">
                        <a href="jeans-manufacturing.html"><img src="/static/image/denim2.jpg" width="356" height="275" alt="Awesome Image"></a>
                     </div>
                     <div class="service-text">
                        <h3><a href="jeans-manufacturing.html">Jeans Manufacturing</a></h3>
                        <p>We are a reputed jeans manufactures in India for quality jeans manufacturing.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="service-box">
                     <div class="img-holder">
                        <a href="jeans-manufacturing.html"><img src="/static/image/denim3.jpg" width="356" height="275" alt="Awesome Image"></a>
                     </div>
                     <div class="service-text">
                        <h3><a href="jeans-manufacturing.html">Jeans Manufacturing</a></h3>
                        <p>We are a reputed jeans manufactures in India for quality jeans manufacturing.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--service section -->



      <!--carousel-->
      <div class="container">
         <div class="row">
            <div class="text1">
               <h1>OUR BRANDS</h1>
            </div>
            <div class="owl-carousel owl-theme">
               <div class="item">
                  <div class="panel brand-panel">
                     <div class="panel-body">
                        <a href="#">
                           <div class="brand-logo">
                              <img src="/static/image/4.png">
                           </div>
                          
                          <!-- <img class="arrow" src="../image/arrow.png">-->
                        </a>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="panel brand-panel">
                     <div class="panel-body">
                        <a href="#">
                           <div class="brand-logo">
                              <img src="/static/image/5.png">
                           </div>
                           
                         <!-- <img class="arrow" src="../image/arrow.png">-->
                        </a>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="panel brand-panel">
                     <div class="panel-body">
                        <a href="#">
                           <div class="brand-logo">
                              <img src="/static/image/10.png">
                           </div>
                            <!-- <p>India’s largest family footwear retail chain</p>
                           <img class="arrow" src="../image/arrow.png">-->
                        </a>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="panel brand-panel">
                     <div class="panel-body">
                        <a href="#">
                           <div class="brand-logo">
                              <img src="/static/image/shopclues.png">
                           </div>
                          <!-- <p>India’s largest family footwear retail chain</p>
                           <img class="arrow" src="../image/arrow.png">-->
                        </a>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="panel brand-panel">
                     <div class="panel-body">
                        <a href="#">
                           <div class="brand-logo">
                              <img src="/static/image/indiamart.png">
                           </div>
                            <!-- <p>India’s largest family footwear retail chain</p>
                           <img class="arrow" src="../image/arrow.png">-->
                        </a>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="panel brand-panel">
                     <div class="panel-body">
                        <a href="#">
                           <div class="brand-logo">
                              <img src="/static/image/alibaba.png">
                           </div>
                            <!-- <p>India’s largest family footwear retail chain</p>
                           <img class="arrow" src="../image/arrow.png">-->
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!--carousel-->








      <!--slider-->

 
  <div id="galleryCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <div class="container">
  <div class="slid">
 <div class="row">
  <div class="gallery1">
   <div class="col-lg-4 col-sm-4"><img class="galler-image" src="/static/image/image-1.jpg"></div>
   <div class="col-lg-4 col-sm-4"><img class="galler-image" src="/static/image/image-2.jpg"></div>
   <div class="col-lg-4 col-sm-4"><img class="galler-image" src="/static/image/image-3.jpg"></div>
  </div>
 </div>
 <div class="row">
  <div class="gallery2">
   <div class="col-lg-9 col-sm-8"><img class="galler-image imgrespons" src="/static/image/image-4.jpg"></div>
   <div class="col-lg-3 col-sm-4"><img class="corner-image imgrespons2" src="/static/image/image-5.jpg"></div>
   </div>
  
 </div>
 </div>
  </div>
        <div class="carousel-caption">
          
        </div>
      </div>

      <div class="item">
       <div class="container">
  <div class="slid">
 <div class="row">
  <div class="gallery1">
   <div class="col-lg-4 col-sm-4"><img class="galler-image" src="/static/image/image-1.jpg"></div>
   <div class="col-lg-4 col-sm-4"><img class="galler-image" src="/static/image/image-2.jpg"></div>
   <div class="col-lg-4 col-sm-4"><img class="galler-image" src="/static/image/image-3.jpg"></div>
  </div>
 </div>
 <div class="row">
  <div class="gallery2">
   <div class="col-lg-9 col-sm-8"><img class="galler-image imgrespons" src="/static/image/image-4.jpg"></div>
   <div class="col-lg-3 col-sm-4"><img class="corner-image imgrespons2" src="/static/image/image-5.jpg"></div>
   </div>
  
 </div>
 </div>
  </div>
        <div class="carousel-caption">
          
        </div>
      </div>
    
      <div class="item">
      <div class="container">
  <div class="slid">
 <div class="row">
  <div class="gallery1">
   <div class="col-lg-4 col-sm-4"><img class="galler-image" src="/static/image/image-1.jpg"></div>
   <div class="col-lg-4 col-sm-4"><img class="galler-image" src="/static/image/image-2.jpg"></div>
   <div class="col-lg-4 col-sm-4"><img class="galler-image" src="/static/image/image-3.jpg"></div>
  </div>
 </div>
 <div class="row">
  <div class="gallery2">
   <div class="col-lg-9 col-sm-8"><img class="galler-image imgrespons" src="/static/image/image-4.jpg"></div>
   <div class="col-lg-3 col-sm-4"><img class="corner-image imgrespons2" src="/static/image/image-5.jpg"></div>
   </div>
  
 </div>
 </div>
  </div>
        <div class="carousel-caption">
          
        </div>
      </div>

      <div class="item">
        <div class="container">
  <div class="slid">
 <div class="row">
  <div class="gallery1">
   <div class="col-lg-4 col-sm-4"><img class="galler-image" src="/static/image/image-1.jpg"></div>
   <div class="col-lg-4 col-sm-4"><img class="galler-image" src="/static/image/image-2.jpg"></div>
   <div class="col-lg-4 col-sm-4"><img class="galler-image" src="/static/image/image-3.jpg"></div>
  </div>
 </div>
 <div class="row">
  <div class="gallery2">
   <div class="col-lg-9 col-sm-8"><img class="galler-image imgrespons" src="/static/image/image-4.jpg"></div>
   <div class="col-lg-3 col-sm-4"><img class="corner-image imgrespons2" src="/static/image/image-5.jpg"></div>
   </div>
  
 </div>
 </div>
  </div>
        <div class="carousel-caption">
          
        </div>
      </div>
  
    </div>

   <!-- <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>-->

    <!-- Left and right controls -->
    <a class="left carousel-control lbtns" href="#galleryCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left " aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control rbtns" href="#galleryCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right " aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


<!--slider-->


<!--subscrib-->


<div class="container-fluid background">
         <div class="row">
            <div class="text2">
               <h3>Stay updated with the latest offers from A Mart</h3>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <div class="subscribe">
                     <form>
                        <ul>
                           <li><input type="text" name="usr_mobile" class="form-control" placeholder="*Enter Your Contact Number"></li>
                           <li><input type="text" name="usr_mobile" class="form-control" placeholder="*Enter Your Contact Number"></li>
                           <li><input type="text" name="usr_mobile" class="form-control" placeholder="*Enter Your Contact Number"></li>
                           <li><button type="button" class="btn" title="Subscribe Now">Subscribe Now</button></li>
                        </ul>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
<!--subscrib-->


<!--fact-->
<div class="facts sticky">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="service_heading">
<h4 class="text-center text-uppercase">FACTS</h4>
</div>
</div>
<div class="col-lg-12">
<div class="facts_div">
<div class="row">


<div class="col-lg-3 col-xs-12 col-md-3 col-sm-3">
<div class="fcts text-center">
<img src="/static/image/clint.png">
<h4><span class="counter">500000</span>+</h4>
<p>Clients</p>
</div>
</div>


<div class="col-lg-3 col-xs-12 col-md-3 col-sm-3">
<div class="fcts text-center">
<img src="/static/image/directions_delivery-128.png">
<h4><span class="numscroller2">6000</span>+</h4>
<p>Distributor</p>
</div>
</div>


<div class="col-lg-3 col-xs-12 col-md-3 col-sm-3">
<div class="fcts text-center">
<img src="/static/image/citry.png">
<h4><span class="numscroller3">200</span>+</h4>
<p>City in India</p>
</div>
</div>


<div class="col-lg-3 col-xs-12 col-md-3 col-sm-3">
<div class="fcts text-center">
<img src="/static/image/planet-earth.png">
<h4><span class="numscroller4">35</span>+</h4>
<p>Countries Served</p>
</div>
</div>


</div>
</div>
</div>
</div>
</div>
</div>

<!--fact-->


<!-- client speaks-->
<div class="container-fluid">
  <div class="client_speaks">
   <div class="row">
     <div class="col-lg-6" style="padding-right:0px; padding-left:0px;">
       <div class="clint-contant">

       <h2>CLIENT SPEAK</h2>
<img src="/static/image/testimonial.png">
<p>We have got the feedback from our technical team. The job is fantastic.</p>

<p>Council for Educational Research</p>

<p>Yes! I am very satisfied with the professionalism.</p>

<p>Insurance Business Services</p></div>
     </div> 
     <div class="col-lg-6" style="padding-right:0px; padding-left:0px;"> <img src="/static/image/youtube.jpg"></div> 
   </div>
  </div>
</div>
</body>
</html>