<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../font/font.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<title>Ayra</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
<!--header-->
<div class="header">
  <!--upper header-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="h-logo"> <img class="" src="/static/image/asydf.png"</div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-inline">
              <li><a href="#">Customer Care: 9142875785</a></li>
              <li><a href="#"> Screen ReaderA-A+</a></li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="nav_icon">
              <ul class="list-inline clear">
                <li><a class="tw" target="_blank" href="https://twitter.com/AbilisSolutions"><i class="fa fa-twitter"></i></a></li>
                <li><a class="li" target="_blank" href="https://www.linkedin.com/company/abilis-solutions?trk=biz-companies-cym"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="fb" target="_blank" href="https://www.facebook.com/Solutions-Abilis-1422492811119373/"><i class="fa fa-facebook"></i></a></li>
                <li><a class="large-icon yt" target="_blank" href="https://www.youtube.com/channel/UCL9h02kMUOuMAw5i9V-pQOg/videos"><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--upper header-->
  <!--lower-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="nav-lower">
         <ul>
                  <li><a href="index.html"> HOME</a></li>
                  <li><a href="product.html">SERVICE</a></li>
                  <li><a href="about-us.html"> ABOUT US</a></li>
                  <li><a href="product.html">PRODUCT</a></li>
                  <li><a href="about-us.html">NEWS</a></li>
                  <li><a href="our_invester.html">OUR INVESTER</a></li>
                  <li><a href="our_invester.html">CONTACT US</a></li>
                  <li><a href="our_invester.html">CONTACT US</a></li>
                </ul>
        </div>
      </div>
    </div>
  </div>
  <!--lower-->
</div>
<!--header-->
<!-- inverter heading-->

<div class="bg-image"> <img src="/static/image/investerbaner.jpg" >
<div class="bg-text">
  <h1 style="font-size:50px">OUR INVESTER</h1>
  <p>We proud our invester </p>
</div>
</div>
<!-- inverter heading-->


<!-- inverter detail-->
<div class="container">
      <div class="row">
           <div class="col-lg-12 ">

           <div class="row">

<!--left side-->
           <div class="row invester-detail-left">
               
                     <div class="col-lg-3">
                             <div class="invester-img"><img src="/static/image/sonu (2).png"> </div>
                     </div>
                     <div class="col-lg-9">
                     <h1>SONU SINGH</h1>
                     <h4>CEO - AYRA GROUP </h4>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                     </div>
              
           </div>
<!--left side-->


  <!--right side-->
           <div class="row invester-detail-right">
               
                     
                     <div class="col-lg-9">
                     <h1 style="text-align-last: end;">ARYAN SINGH</h1>
                     <h4 style="text-align-last: end;">CEO - AYRA GROUP </h4>
                     <p style="text-align-last: end;text-align: end;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                     </div>
                     <div class="col-lg-3">
                             <div class="invester-img"><img src="/static/image/aygf.png"> </div>
                     </div>
              
           </div>
  <!--right side-->


  <!--left side-->
           <div class="row invester-detail-left">
               
                     <div class="col-lg-3">
                             <div class="invester-img"><img src="/static/image/shiva.jpg"> </div>
                     </div>
                     <div class="col-lg-9">
                     <h1>SHIVAM JHA</h1>
                     <h4>CEO - AYRA GROUP </h4>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                     </div>
              
           </div>
<!--left side-->


<!--right side-->
           <div class="row invester-detail-right">
               
                     
                     <div class="col-lg-9">
                     <h1 style="text-align-last: end;">PIYUSH KUMAR</h1>
                     <h4 style="text-align-last: end;">CEO - AYRA GROUP </h4>
                     <p style="text-align-last: end;text-align: end;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                     </div>
                     <div class="col-lg-3">
                             <div class="invester-img"><img src="/static/image/piyush.png"> </div>
                     </div>
<!--right side-->

              
           </div>
           </div>
           </div>
      </div>
</div>

<!-- inverter detail-->


<!--footer-->
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="footer">
        <div class="col-lg-3">
          <div class="footer-section-1">
            <h3>Link</h3>
            <ul class="footer-aws">
              <li><a href=""><i class="fas fa-angle-right"></i>HOME</a></li>
              <li><a href=""><i class="fas fa-angle-right"></i>SERVICE </a></li>
              <li><a href=""><i class="fas fa-angle-right"></i>ABOUT US</a></li>
              <li><a href=""><i class="fas fa-angle-right"></i>PRODUCT</a></li>
              <li><a href=""><i class="fas fa-angle-right"></i>NEWS</a></li>
              <li><a href=""><i class="fas fa-angle-right"></i>CONTACT US</a></li>
              <li><a href=""><i class="fas fa-angle-right"></i>HOME</a></li>
              <li><a href=""><i class="fas fa-angle-right"></i>SERVICE </a></li>
              <li><a href=""><i class="fas fa-angle-right"></i>ABOUT US</a></li>
              <li><a href=""><i class="fas fa-angle-right"></i>PRODUCT</a></li>
              <li><a href=""><i class="fas fa-angle-right"></i>PRODUCT</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 footer-section-1">
          <div class="col-lg-12">
            <div class="col-lg-6">
              <div class="footer-section-1">
                <h3>Link</h3>
                <ul class="footer-aws">
                  <li><a href=""><i class="fas fa-angle-right"></i>HOME</a></li>
                  <li><a href=""><i class="fas fa-angle-right"></i>SERVICE </a></li>
                  <li><a href=""><i class="fas fa-angle-right"></i>ABOUT US</a></li>
                  <li><a href=""><i class="fas fa-angle-right"></i>PRODUCT</a></li>
                  <li><a href=""><a href=""><i class="fas fa-angle-right"></i>NEWS</a></li>
                  <li><a href=""><i class="fas fa-angle-right"></i>CONTACT US</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 ">
              <div class="">
                <h3>Link</h3>
                <ul class="footer-aws">
                  <li><a href=""><i class="fas fa-angle-right"></i>HOME</a></li>
                  <li><a href=""><i class="fas fa-angle-right"></i>SERVICE </a></li>
                  <li><a href=""><i class="fas fa-angle-right"></i>ABOUT US</a></li>
                  <li><a href=""><i class="fas fa-angle-right"></i>PRODUCT</a></li>
                  <li><a href=""><i class="fas fa-angle-right"></i>NEWS</a></li>
                  <li><a href=""><i class="fas fa-angle-right"></i>CONTACT US</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="footer-social border-top">
              <ul class="list-inline clear">
                <li>
                  <h3 style="color: #ca5266; font-size: 30px">Sonu Industres</h3>
                </li>
                <li><a class="tw" target="_blank" href="https://twitter.com/AbilisSolutions"><i class="fa fa-twitter"></i></a></li>
                <li><a class="li" target="_blank" href="https://www.linkedin.com/company/abilis-solutions?trk=biz-companies-cym"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="fb" target="_blank" href="https://www.facebook.com/Solutions-Abilis-1422492811119373/"><i class="fa fa-facebook"></i></a></li>
                <li><a class="large-icon yt" target="_blank" href="https://www.youtube.com/channel/UCL9h02kMUOuMAw5i9V-pQOg/videos"><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3"><img class="footer-image" src="/static/image/asdf.png"></div>
      </div>
    </div>
  </div>
</div>
<!--footer-->
<!--copy right-->
<div class="copy-right">
  <div class="container">
    <div class="copy-right-text">
      <p>Sonu Industres</p>
    </div>
  </div>
</div>
<!--copy right-->
<script type="text/javascript">
         $('.owl-carousel').owlCarousel({
             loop:true,
             margin:10,
             nav:true,
             responsive:{
                 0:{
                     items:1
                 },
                 600:{
                     items:3
                 },
                 1000:{
                     items:5
                 }
             }
         })
         
         
         
         
         
         
      </script>
</body>
</html>
